<div class="sign-main">
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "devise-button" %>
  <% if user_signed_in? %>
    <p class="logged-as">Logged in as <%= current_user.try(:name) %></p>
  <% end %>
  <% unless user_signed_in? %>
  <button class="devise-button">
    <%= link_to "Log in", new_user_session_path, class: "link-login"%>
  </button>
  <% end %>
</div>

<div class="recipes-container">
  <% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <div class="recipe-title">
      <h2 class="recipe_name"><%= link_to recipe.name, recipe_path(id: recipe.id) %></h2>
      <% if can? :destroy, recipe %>
        <%= button_to "Remove", recipe_path(id: recipe.id), data: { turbo_method: :delete }, method: :delete, "turbo-frame": "recipes" %>
      <% end %>
    </div>
    <div class="recipe-features">
      <p class="recipe_desc"><%= recipe.description%></p>
    </div>
  </div>
  <% end %>


  <div class="add-recipe">
    <button class="recipe-btn"><%= link_to "Add Recipe", new_recipe_path %></button>
  </div>
</div>

<%# <%= truncate(recipe.description, length: 40, omission: "...") %> 