<div class="back-button">
  <button type="button"><%= link_to "Back to recipes", recipes_path %></button>
</div>

<div class="new-recipe-container">
<h1 class="title">New Recipe</h1>
<div class="new-recipe">
  <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
    <div>
      <%= f.label :name, 'Recipe name'%><br>
      <%= f.text_field :name,class: "input"%>
    </div>
    <div>
      <%= f.label :description, 'Description'%><br>
      <%= f.text_area :description, class: "input" %>
    </div>
    <div>
      <%= f.label :preparation_time, 'Preparation Time'%><br>
      <%= f.number_field :preparation_time, class: "input" %>
    </div>
    <div>
      <%= f.label :cooking_time, 'Cooking Time'%><br>
      <%= f.number_field :cooking_time, step: 0.5, class: "input" %>
    </div>
    <div>
      <%= f.label :public, "Do you want to make it public?" %>
      <%= f.check_box :public%><br/>
    </div>
    <div class="back_food">
      <%= f.submit "Create Recipe", class: "recipe-create" %>
    </div>
  <% end %>
