<div class="recipe-details-container">
  <h1 class="title"><%= @recipe.name %></h1>

  <div class="recipe-details">
    <div class="all-details">
      <p class="detail"><span><strong>Preparation Time: </span></strong><span><%= @recipe.preparation_time %> minutes</span></p>
      <p class="detail"><span><strong>Cooking Time:</span></strong> <span><%= @recipe.cooking_time %> minutes</span></p>
      <p class="detail"><%= @recipe.description %></p>
    </div>
    <% if (@recipe.user == current_user) %>
      <div class="toggle">
        <div class="private"><%=@recipe.public? ? 'Public' : 'Private'%></div>
        <%= button_to @recipe.public? ? 'Make private' : 'Make public', toggle_recipe_path(id: @recipe.id), method: :post, class: 'toggle_btn', remote: true %> 
      </div>
    <% end %>
  </div>

  <div class="buttons">
    <%# link_to "Generate shooping list", shoppinglist_index_path(recipe_id: @recipe.id) %>
    <button>Generate Shopping List</button>
    <button class="recipe_btn"><%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe.id) %></button>
  </div>

  <% if @recipe.public? || (@recipe.user == current_user) %>
    <div class="recipes-container">
      <table class="table recipe-table">
        <thead>
          <tr>
            <th class="list_food name title">Food</th>
            <th class="list_food title">Quantity</th>
            <th class="list_food title">Value</th>
            <th class="list_food title">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe_foods.each do |recipe_food| %>
            <tr class="food">
              <td><%= recipe_food.food.name %></td>
              <td><%= recipe_food.quantity %></td>
              <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
              <td class="modify-remove">
                <%= button_to "Modify", edit_recipe_recipe_food_path(@recipe, recipe_food), class: "btn btn-primary" %>
                <%= button_to "Remove", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: "Are you sure you want to delete this recipe food?" }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
