<%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "logout-button" %>

<div class="main-container">
  <h1>Welcome to Recipe App!</h1>
  <p>
    <%= link_to 'Sign In', @sign_in_path, class: "main-link" %>
    <%= link_to 'Sign Up', @sign_up_path, class: "main-link" %>
  </p>

  <p>
    <%= link_to 'Add Food', new_food_path, class: "main-link" %>
    <%= link_to 'List Food', foods_path, class: "main-link" %>
  </p>

  <p>
    <%= link_to 'Add Recipe', new_recipe_path, class: "main-link" %>
    <%= link_to 'List Recipes', recipes_path, class: "main-link" %>
  </p>

  <p>
    <%= link_to 'Go to Shopping List', '/shopping_list', class: "main-link" %>
  </p>
   <p>
    <%= link_to 'Go to Public Recipes', '/public_recipes', class: "main-link" %>
  </p>

</div>
