<div>
  <div class="new-food">
  <%= form_with url: foods_path, scope: :food do |form| %>
    <div >
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.label :Name %><br>
    <%= form.text_field :name, class: "form-control", require: true %>
    </div>
    <div>
    <%= form.label :Measuring_unit %><br>
    <%= form.text_field :measuring_unit, class: "form-control", require: true %>
    </div>
    <div>
    <%= form.label :Price %><br>
    <%= form.number_field :price, class: "form-control", require: true %>
    </div>
    <div>
    <%= form.label :Quantity %><br>
    <%= form.number_field :quantity, class: "form-control", require: true %>
    </div>
    <div class="submit">
    <%= form.submit "Create Food", class: "food-create" %>
    </div>
  <% end %>
  </div>
</div>