<%= link_to 'Add Food', new_food_path, class: "new_food_link" %>

<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Measuring unit</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measuring_unit %></td>
          <td>$<%= food.price %></td>
          <td><%= food.quantity %></td>
         <td> <%= button_to "Delete", food_path(food), method: :delete, data: { confirm: 'Are you sure you want to delete this food item?' }, class: "delete-button" %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<%= link_to 'Back', session.delete(:return_to) || root_path, class: "back-link" %>

