<div class="food-list-container">
  <h1>Food list for <%= @user.name %></h1>

  <% @foods.each do |food| %>

    <p><%= food.name %> (Quantity: <%= food.quantity %>, Measuring Unit: <%= food.measuring_unit %>)</p>
  <% end %>

  <div class="back-link-container">
    <%= link_to 'Back', session.delete(:return_to) || root_path, class: "back-link" %>
  </div>
    <p><%= food.name %> (Quantity <%= food.quantity %>)</p>
  <% end %>
</div>
